---
import Icon from 'astro-icon';
import Modal from '../common/Modal.astro';
import { SITE } from '~/config.mjs';
---

<Modal id="request-demo">
  <div x-data="{completed: false, submitting: false}">
    <div x-show="!completed">
      <p class="font-bold md:text-2xl text-lg mb-6">Request a demo</p>
      <form
        action={SITE.formSubmitUrl}
        @submit.prevent="
          submitting = true;
    fetch($el.action,{ method: 'POST', body: new FormData($el)}).then(() => {
      completed = true;
      submitting = false;
    })
          "
      >
        <div class="form-group mt-3">
          <label for="userName" class="sr-only">Name</label>
          <input
            type="text"
            id="userName"
            name="user_name"
            placeholder="Name"
            class="mt-1 w-full rounded-md border border-gray-200 px-3 py-3 disabled:bg-gray-100"
            required
            :disabled="submitting"
          />
        </div>

        <div class="form-group mt-3">
          <label for="userEmail" class="sr-only">Email</label>
          <input
            type="email"
            id="userEmail"
            name="email"
            placeholder="Email"
            class="mt-1 w-full rounded-md border border-gray-200 px-3 py-3 disabled:bg-gray-100"
            required
            :disabled="submitting"
          />
        </div>

        <div class="form-group mt-3">
          <label for="userPhone" class="sr-only">Phone number</label>
          <input
            type="text"
            id="userPhone"
            name="phone_number"
            placeholder="Phone number"
            class="mt-1 w-full rounded-md border border-gray-200 px-3 py-3 disabled:bg-gray-100"
            required
            :disabled="submitting"
          />
        </div>
        <input type="hidden" name="_subject" value="Infospeaks.com new Request demo!" />
        <input type="hidden" name="_captcha" value="false" />
        <input type="hidden" name="_cc" value="dungnguyen.ajt@gmail.com" />
        <div class="pt-8 flex justify-center">
          <button
            class="btn-primary rounded-full px-6 py-3 disabled:bg-gray-500 flex gap-2 items-center"
            :disabled="submitting"
          >
            <span x-text="submitting ? 'Sending' : 'Send now'"></span>
            <Icon name="tabler:rotate-clockwise-2" class="w-4 h4 animate-spin" x-show="submitting" />
          </button>
        </div>
      </form>
    </div>
    <div x-show="completed" class="text-center">
      <span class="rounded-full text-green-500 bg-green-100 inline-block p-2"
        ><Icon name="tabler:check" class="w-16 h-16" /></span
      >
      <p class="font-bold md:text-2xl text-lg mt-4 mb-3 flex gap-4 items-center justify-center">Thank you</p>
      <p>We have received your message. We'll contact you soon.</p>

      <div class="pt-8 flex justify-center">
        <button class="btn-primary rounded-full px-6 py-3" @click="modal = null">Close</button>
      </div>
    </div>
  </div>

  <span slot="action"></span>
</Modal>
