---
interface MenuItem {
  href: string;
  label: string;
  image: string;
}

interface Navigation {
  center_label: string;
  items: Array<MenuItem>;
}

export interface Props {
  data: Navigation;
}

const { data } = Astro.props;
---

<div
  class="relative w-[400px] overflow-hidden z-10 shrink-0"
  x-data={`{navigation: ${JSON.stringify(data)}, current: null, atTop: true}`}
  x-init="current = location.hash; atTop = (window.pageYOffset < 50) ? true: false;"
>
  <div
    class="fixed px-5 w-[400px] transition-all"
    :class="{'top-20': !atTop, 'top-40': atTop}"
    @scroll.window="atTop = (window.pageYOffset < 50) ? true: false;
    navigation.items.map(({href: id}) =>{
      const el = document.querySelector(id);
      if(el ){
        const  pageY = el.getBoundingClientRect().top + window.scrollY
        if(window.scrollY <= pageY && (window.scrollY + window.innerHeight/2) >= pageY) {
          current = id;
        }
      }
    })
    "
  >
    <div
      class="relative w-[464px] h-[464px] border border-zinc-300 border-l-transparent border-t-transparent rounded-full -rotate-45 -translate-x-1/3"
    >
      <div class="h-full w-full rotate-45 relative flex items-center justify-center">
        <template x-for="(item, idx) in navigation.items" :key="item.href">
          <div
            class="nav-item absolute bottom-1/2 left-1/2 w-1/2 origin-left translate-x-full translate-y-full"
            :style="{transform: `rotate(${(-90 + 15 + 30 * idx) }deg)`}"
          >
            <div class="h-full border-t border-zinc-400 uppercase text-xs relative">
              <div class="absolute w-full text-slate-400 pr-10 pl-20 text-center" x-text="item.label"></div>
            </div>
            <div
              class="absolute w-20 h-20 right-0 flex items-center justify-center p-1"
              :style="{transform: `translate(50%, -50%) rotate(${-(-90 + 15 + 30 * idx)}deg)`}"
            >
              <a
                :href="item.href"
                class="nav transition-transform"
                :class="{'active': item.href === current}"
                @click="current = item.href"
              >
                <img :src="item.image" :alt="item.label" />
              </a>
            </div>
          </div>
        </template>

        <!-- center -->
        <div
          class="w-40 h-40 border rounded-full border-gray-800 flex items-center justify-center text-center uppercase font-bold text-xl bg-white z-10"
        >
          <span x-html="navigation.center_label"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .nav.active,
  .nav:hover {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
      skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
</style>
<script>
  window.scrollSpy = function (id) {
    const el = document.getElementById(id);
    if (el && window.scrollY < el.offsetTop && window.scrollY + window.innerHeight > el.offsetTop) {
    }
  };
</script>
