---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import { Icon } from 'astro-icon';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Slogan from '~/components/widgets/Slogan.astro';
import { getAsset } from '~/utils/permalinks';
import { stringifyChunk } from 'astro/dist/runtime/server';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Get template', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Free template for <span class="hidden lg:inline">create your website <br class="2xl:hidden" /> with</span>
      <span class="text-accent dark:text-white highlight"> Astro 2.0</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 2.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span> Suitable for Startups,
      Small Business, Sass Websites, Professional Portfolios, Marketing Websites, Landing Pages & Blogs.
    </Fragment>
  </Hero>

  <!-- https://tailwindflex.com/brandon/carousel-with-tailwind-css-and-alpinejs -->
  <section class="relative">
    <div class="max-w-6xl mx-auto">
      <div class="h-[800px] flex flex-col">
        <div
          class="w-full relative overflow-hidden"
          x-data={`{ activeSlide: 0, timer: null, timeout: 5000, slides: ${JSON.stringify(
            [0, 1, 2].map((i) => getAsset('/assets/home-slider/Banner-' + i + '.png'))
          )},
        next(){
          this.ltr = false;
          this.activeSlide = this.activeSlide === (this.slides.length - 1) ? 0 : this.activeSlide + 1; 
          this.resetTimer();
        } ,
        prev(){
          this.ltr = true;
          this.activeSlide = this.activeSlide === 0 ? this.slides.length -1 : this.activeSlide - 1; 
      },
      resetTimer(){clearTimeout(this.timer); this.timer = setTimeout(()=>{this.next()}, this.timeout)},
      enter: "translate-x-full",
      leave: "-translate-x-full",
      ltr: true,
      transition: {
        'x-transition:enter': "absolute left-0 top-0 transition transform duration-700",
              'x-transition:enter-start'(){ return this.ltr ? "-translate-x-full" : "translate-x-full"},
              'x-transition:enter-end': "translate-x-0",
              'x-transition:leave': "transition transform duration-700",
              'x-transition:leave-start': "translate-x-0",
              'x-transition:leave-end'() {return this.ltr ? "translate-x-full" : "-translate-x-full"}
      },
      init(){
        this.resetTimer(); 
      }}`}
          x-init="init()"
          x-on:mouseover="clearTimeout(timer)"
          x-on:mouseout="resetTimer()"
        >
          <!-- Slides -->
          <template x-for="(image, index) in slides" :key="index">
            <div
              x-show="activeSlide === index"
              x-transition:enter="absolute left-0 top-0 transition transform duration-700"
              :x-transition:enter-start="enter"
              x-transition:enter-end="translate-x-0"
              x-transition:leave="transition transform duration-700"
              x-transition:leave-start="translate-x-0"
              :x-transition:leave-end="leave"
              class="block"
            >
              <img x-bind:src="image" alt="Home slider 1" class="w-full" />
            </div>
          </template>

          <!-- Prev/Next Arrows -->
          <div class="absolute left-16 bottom-8 flex justify-between">
            <div class="flex items-center">
              <button
                class="bg-white/70 hover:shadow-lg rounded-full w-12 h-12 ml-6 flex items-center justify-center"
                x-on:click="prev()"
              >
                <Icon name="tabler:chevron-left" class="w-5 h-5" />
              </button>
            </div>
            <div class="flex items-center ml-6">
              <button
                class="bg-white/70 hover:shadow-lg rounded-full w-12 h-12 mr-6 flex items-center justify-center"
                x-on:click="next()"
              >
                <Icon name="tabler:chevron-right" class="w-5 h-5" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative">
    <div class="max-w-6xl mx-auto md:h-[600px] px-4 sm:px-6 grid grid-cols-2 gap-4">
      <div class="py-12 flex flex-col justify-center">
        <h3 class="font-bold text-3xl leading-snuge">Get management reports from single version of truth</h3>
        <p class="text-2xl leading-normal pt-7">
          Captivate your business facts<br />
          On all key functions<br />
          With an agile BI Solution<br />
          In Real-time Dashboards
        </p>
      </div>
      <div class="flex items-center">
        <img src={getAsset('/assets/home-report.png')} />
      </div>
    </div>
  </section>

  <section class="relative">
    <div class="max-w-6xl mx-auto md:h-[600px] px-4 sm:px-6 grid grid-cols-2 gap-4">
      <div class="py-12 flex flex-col justify-center">
        <h3 class="font-bold text-3xl">Get started with data dashboards</h3>
        <p class="text-2xl leading-normal pt-7">
          Gain your business measures<br />
          In synergy practices<br />
          From data capture<br />
          To value creation<br />
        </p>
      </div>
      <div class="flex items-center">
        <img src={getAsset('/assets/get-started-dashboard.png')} />
      </div>
    </div>
  </section>

  <section class="relative">
    <div class="max-w-6xl mx-auto md:h-[600px] px-4 sm:px-6 bg-zinc-200 flex items-center justify-center">
      <div class="py-12 md:py-20 text-center">
        <div class="font-thin text-3xl">Create data dashboards in</div>
        <h3 class="font-bold text-3xl mt-3">Customized Analytical Management Reports</h3>
        <p class="text-lg border border-zinc-300 p-8 inline-block max-w-[820px] md:mt-16">
          That‘s all it take to start transforming your data into live ﬁnancial management reports That’ll provide
          business insights supporting for data driven-making decisions.
        </p>
      </div>
    </div>
  </section>

  <Slogan />
</Layout>
