---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import { Icon } from 'astro-icon';
import Slogan from '~/components/widgets/Slogan.astro';
import Services from '~/components/widgets/Services.astro';
import { getAsset } from '~/utils/permalinks';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const services = [
  {
    key: 'management',
    icon: getAsset('/assets/home-services/icon1.png'),
    image: getAsset('/assets/home-services/service1.png'),
    label: 'Management Reporting Service',
    header: 'Discover comprehensive financial and non-financial Measures driving business profitability',
    salepoints: [
      'Find the best key indicators for every functional enterprise resource',
      'Build up Server, Backend Pipeline, Integrate BI Reports',
      'Customized full package of Management Reports',
    ],
    action: {
      label: 'Learn more',
      href: '#',
    },
  },

  {
    key: 'sales',
    icon: getAsset('/assets/home-services/icon2.png'),
    image: getAsset('/assets/home-services/service2.png'),
    label: 'Sales Analytics Dashboard',
    header: 'Discover how Sales Drivers leading to Growth in the Strategic perspective',
    salepoints: [
      'Find the best key indicators for Sales analytics',
      'Build up Data capture, ETL pipeline, Data model',
      'Provide Financial Ratios, Measures, Indicators give managerial information',
      'Optimize sales by detecting economics of scale',
    ],
  },
  {
    key: 'cost',
    icon: getAsset('/assets/home-services/icon3.png'),
    image: getAsset('/assets/home-services/service3.png'),
    label: 'Cost Analytics Dashboard',
    header: 'Discover how Most efﬁcient Cost Factors indicating in Value Chain for competitive advantage ﬁndings',
    salepoints: [
      'Find the best key indicators for Cost analytics',
      'Build up Data capture, ETL pipeline, Data model',
      'Provide Financial Ratios, Measures, Indicators give managerial information',
      'Optimize Costs by detecting Experience Curve',
    ],
  },
  {
    key: 'pnl',
    icon: getAsset('/assets/home-services/icon4.png'),
    image: getAsset('/assets/home-services/service4.png'),
    label: 'P&L Analytics Dashboard',
    header: 'Discover how Value-based Drivers leading Growth in Experience Curve learning',
    salepoints: [
      'Find the best key indicators for P&L analytics',
      'Build up Data capture, ETL pipeline, Data model',
      'Provide Financial Ratios, Measures, Indicators give managerial information',
      'Maximize Proﬁtability by detecting Optimal Points',
    ],
  },
  {
    key: 'performance',
    icon: getAsset('/assets/home-services/icon5.png'),
    image: getAsset('/assets/home-services/service5.png'),
    label: 'Performance Dashboard',
    header: 'Discover how Valued-Based Findings on possibly Correlated Drivers',
    salepoints: [
      'Find the best key indicators for Performance analytics',
      'Build up Data capture, ETL pipeline, Data model',
      'Provide Financial Ratios, Measures, Indicators give managerial information',
      'Optimize Enterprise value by Earned Value Analysis',
    ],
  },
  {
    key: 'budget',
    icon: getAsset('/assets/home-services/icon6.png'),
    image: getAsset('/assets/home-services/service6.png'),
    label: 'Budget & Planning Service',
    header: 'Develop value drivers on possibly leverage proﬁtability through modeling and what-if analysis',
    salepoints: [
      'Deﬁning budget objectives, accessing historical and actual data to develop, prepare, review and reﬁne a budget reporting',
      'Build up Data capture, ETL pipeline, Data model',
      'Provide Financial Ratios, Measures, Indicators give managerial information',
      'Monitor budget by Intergrate BI Reports',
    ],
  },
];
---

<Layout {meta}>
  <section class="relative pt-4">
    <div class="max-w-6xl mx-auto">
      <div class="w-full mx-auto flex flex-row overflow-hidden">
        <div class="swiper w-full h-full relative">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src={getAsset('/assets/home-slider/Banner-0.png')} alt="Infospeaks" />
            </div>
            <div class="swiper-slide"><img src={getAsset('/assets/home-slider/Banner-1.png')} alt="Infospeaks" /></div>
            <div class="swiper-slide"><img src={getAsset('/assets/home-slider/Banner-2.png')} alt="Infospeaks" /></div>
          </div>

          <!-- If we need navigation buttons -->
          <div class="navigation absolute bottom-8 left-16 z-30 flex gap-6">
            <div class="slider-button-prev w-11 h-11 rounded-full bg-white/50 flex items-center justify-center">
              <Icon name="tabler:chevron-left" class="w-5 h-5" />
            </div>
            <div class="slider-button-next w-11 h-11 rounded-full bg-white/50 flex items-center justify-center">
              <Icon name="tabler:chevron-right" class="w-5 h-5" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative">
    <div class="max-w-6xl mx-auto md:min-h-[600px] grid grid-cols-2 gap-4 px-6">
      <div class="py-12 flex flex-col justify-center">
        <h3 class="font-bold text-3xl leading-snuge">Get management reports from single version of truth</h3>
        <p class="text-2xl leading-normal pt-7">
          Captivate your business facts<br />
          On all key functions<br />
          With an agile BI Solution<br />
          In Real-time Dashboards
        </p>
      </div>
      <div class="flex items-center justify-end">
        <img src={getAsset('/assets/home-report.png')} />
      </div>
    </div>
  </section>

  <!-- what inside -->

  <Services services={services} defaultTab="sales" />

  <section class="relative">
    <div class="max-w-6xl mx-auto md:h-[600px] grid grid-cols-2 gap-4 px-6">
      <div class="py-12 flex flex-col justify-center">
        <h3 class="font-bold text-3xl">Get started with data dashboards</h3>
        <p class="text-2xl leading-normal pt-7">
          Gain your business measures<br />
          In synergy practices<br />
          From data capture<br />
          To value creation<br />
        </p>
      </div>
      <div class="flex items-center">
        <img src={getAsset('/assets/get-started-dashboard.png')} />
      </div>
    </div>
  </section>

  <section class="relative">
    <div class="max-w-6xl mx-auto md:h-[600px] px-4 sm:px-6 bg-zinc-200 flex items-center justify-center">
      <div class="py-12 md:py-20 text-center">
        <div class="font-thin text-3xl">Create data dashboards in</div>
        <h3 class="font-bold text-3xl mt-3">Customized Analytical Management Reports</h3>
        <p class="text-lg border border-zinc-300 p-8 inline-block max-w-[820px] md:mt-16">
          That‘s all it take to start transforming your data into live ﬁnancial management reports That’ll provide
          business insights supporting for data driven-making decisions.
        </p>
      </div>
    </div>
  </section>

  <Slogan />
</Layout>

<script>
  import Swiper, { Navigation } from 'swiper';
  new Swiper('.swiper', {
    modules: [Navigation],
    direction: 'horizontal',
    loop: true,
    autoplay: {
      delay: 5000,
    },

    // Navigation arrows
    navigation: {
      nextEl: '.slider-button-next',
      prevEl: '.slider-button-prev',
    },
  });
</script>
