---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import { Icon } from 'astro-icon';
import Slogan from '~/components/widgets/Slogan.astro';
import Services from '~/components/widgets/Services.astro';
import ContactFormModal from '~/components/widgets/ContactFormModal.astro';
import { getAsset } from '~/utils/permalinks';
import { serviceData } from '~/data';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <section class="relative pt-4">
    <div class="max-w-6xl mx-auto">
      <div class="w-full mx-auto flex flex-row overflow-hidden">
        <div class="swiper w-full h-full relative">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img src={getAsset('/assets/home-slider/Banner-0.png')} alt="Infospeaks" />
            </div>
            <div class="swiper-slide"><img src={getAsset('/assets/home-slider/Banner-1.png')} alt="Infospeaks" /></div>
            <div class="swiper-slide"><img src={getAsset('/assets/home-slider/Banner-2.png')} alt="Infospeaks" /></div>
          </div>

          <!-- If we need navigation buttons -->
          <div class="navigation absolute bottom-8 left-16 z-30 flex gap-6">
            <div class="slider-button-prev w-11 h-11 rounded-full bg-white/50 flex items-center justify-center">
              <Icon name="tabler:chevron-left" class="w-5 h-5" />
            </div>
            <div class="slider-button-next w-11 h-11 rounded-full bg-white/50 flex items-center justify-center">
              <Icon name="tabler:chevron-right" class="w-5 h-5" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative">
    <div class="max-w-6xl mx-auto md:min-h-[600px] grid md:grid-cols-2 grid-cols-1 gap-4 px-4 md:px-6">
      <div class="pt-9 pb-3 md:py-12 flex flex-col justify-center">
        <h3 class="font-bold text-2xl md:text-3xl leading-snuge">
          Get management reports from single version of truth
        </h3>
        <p class="text-lg md:text-2xl leading-normal pt-4 md:pt-7">
          Captivate your business facts<br />
          On all key functions<br />
          With an agile BI Solution<br />
          In Real-time Dashboards
        </p>
      </div>
      <div class="flex items-center justify-end">
        <img src={getAsset('/assets/home-report.png')} />
      </div>
    </div>
  </section>

  <!-- what inside -->

  <Services services={serviceData} defaultTab="sales" />

  <section class="relative">
    <div class="max-w-6xl mx-auto md:h-[600px] grid grid-cols-1 md:grid-cols-2 gap-4 px-4 md:px-6">
      <div class="pt-8 pb-4 md:py-12 flex flex-col justify-center">
        <h3 class="font-bold text-2xl md:text-3xl">Get started with data dashboards</h3>
        <p class="text-xl md:text-2xl leading-normal pt-4 md:pt-7">
          Gain your business measures<br />
          In synergy practices<br />
          From data capture<br />
          To value creation<br />
        </p>
      </div>
      <div class="flex items-center">
        <img src={getAsset('/assets/get-started-dashboard.png')} />
      </div>
    </div>
  </section>

  <section class="relative">
    <div class="max-w-6xl mx-auto md:h-[600px] px-4 sm:px-6 bg-zinc-200 flex items-center justify-center">
      <div class="py-8 md:py-20 text-center">
        <div class="font-thin text-2xl md:text-3xl">Create data dashboards in</div>
        <h3 class="font-bold text-2xl md:text-3xl mt-3">Customized Analytical Management Reports</h3>
        <p
          class="text-base md:text-lg border border-zinc-300 rounded-md p-6 md:p-8 inline-block w-full md:max-w-[820px] mt-6 md:mt-16"
        >
          That‘s all it take to start transforming your data into live ﬁnancial management reports That’ll provide
          business insights supporting for data driven-making decisions.
        </p>
      </div>
    </div>
  </section>

  <Slogan />
  <!-- Contact form -->
  <ContactFormModal />
</Layout>

<script>
  import Swiper, { Navigation } from 'swiper';
  new Swiper('.swiper', {
    modules: [Navigation],
    direction: 'horizontal',
    loop: true,
    autoplay: {
      delay: 5000,
    },

    // Navigation arrows
    navigation: {
      nextEl: '.slider-button-next',
      prevEl: '.slider-button-prev',
    },
  });
</script>
